@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  @apply !rounded w-96 max-w-full focus:outline-blue-500;
}
